<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
   <link rel="icon" type="image/icon" href="/resources/favicon.ico">
    <link href='/resources/css/lib/bootstrap.min.css' rel='stylesheet' />
    <script src='/resources/js/lib/popper.min.js'></script>
    <script src='/resources/js/lib/bootstrap.min.js'></script>
    <script src='/resources/js/lib/axios.min.js'></script>
        <script type='text/javascript' src='/resources/js/custom.js'></script>

<style>
  .form-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
 
}
</style>
    <title>{{title}}</title>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-12 mt-5'>
          <form id='create-page' onsubmit='return validatForm(event)' novalidate>
            <div class='modal-header'>
              <h5 class='modal-title' id='addPageModalLabel'>Create Page</h5>
            </div>
            <div class='modal-body'>
              <div class='col-auto'>
                <label for='name' class='form-label'>Name</label>
                <input
                  type='text'
                  class='form-control form-control-sm'
                  id='name'
                  name='name'
                  placeholder='Name of Page'
                  required
                />
                <div id="invalid-feedback" class='invalid-feedback'>
                  Please provide a valid name.
                </div>
              </div>
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary btn-sm'
                data-bs-dismiss='modal'
                onclick='clearForm()'
              >
                Clear
              </button>
              <button type='submit' class='btn btn-primary btn-sm'>
                Save
              </button>
            </div>
          </form>
        </div>
        <div class='col-12 my-2'>
          <table class='table table-bordered table-hover'>
            <thead>

              <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Slug</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>

              {{#each pages}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.slug}}</td>
                  <td>
                    <a href='/api/builder/{{this._id}}'>Edit</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>